.so-widget-sow-headline-default-5fd71efce2b3 .sow-headline-container h2.sow-headline {
  text-align: left;
  color: #383838;
  line-height: 1.4em;
  
  
  
}
.so-widget-sow-headline-default-5fd71efce2b3 .sow-headline-container h2.sow-headline a {
  color: #383838;
}
.so-widget-sow-headline-default-5fd71efce2b3 .sow-headline-container h3.sow-sub-headline {
  text-align: center;
  
  line-height: 1.4em;
  
  
  
}
.so-widget-sow-headline-default-5fd71efce2b3 .sow-headline-container .decoration {
  line-height: 0em;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}
.so-widget-sow-headline-default-5fd71efce2b3 .sow-headline-container .decoration .decoration-inside {
  height: 1px;
  display: inline-block;
  border-top: 2px inset #dd3333;
  width: 100%;
  max-width: 36%;
}
.so-widget-sow-headline-default-5fd71efce2b3 .sow-headline-container *:first-child {
  margin-top: 0 !important;
}
.so-widget-sow-headline-default-5fd71efce2b3 .sow-headline-container *:last-child {
  margin-bottom: 0 !important;
}