.so-widget-sow-headline-default-56a1b616c64a .sow-headline-container h2.sow-headline {
  text-align: left;
  color: #383838;
  line-height: 32px;
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.so-widget-sow-headline-default-56a1b616c64a .sow-headline-container h2.sow-headline a {
  color: #383838;
}
.so-widget-sow-headline-default-56a1b616c64a .sow-headline-container h4.sow-sub-headline {
  text-align: left;
  color: #787878;
  line-height: 20px;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.so-widget-sow-headline-default-56a1b616c64a .sow-headline-container h4.sow-sub-headline a {
  color: #787878;
}
.so-widget-sow-headline-default-56a1b616c64a .sow-headline-container .decoration {
  line-height: 0em;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}
.so-widget-sow-headline-default-56a1b616c64a .sow-headline-container .decoration .decoration-inside {
  height: 1px;
  display: inline-block;
  border-top: 2px solid #dd3333;
  width: 100%;
  max-width: 36%;
}
.so-widget-sow-headline-default-56a1b616c64a .sow-headline-container *:first-child {
  margin-top: 0 !important;
}
.so-widget-sow-headline-default-56a1b616c64a .sow-headline-container *:last-child {
  margin-bottom: 0 !important;
}