.so-widget-sow-slider-default-51e212ec5644 .sow-slider-base .sow-slider-pagination li a {
  background: #000000;
}
.so-widget-sow-slider-default-51e212ec5644 .sow-slider-base .sow-slide-nav {
  font-size: 25px;
}
.so-widget-sow-slider-default-51e212ec5644 .sow-slider-base .sow-slide-nav a {
  color: #000000;
}